{%  extends "base_page.html" %}
{% load staticfiles %}

{% block content_wrapper %}
<div class="container">
    {% if need_login %}
        {% include "login.html" %}
    {% else %}
        <div class="span12 upload-form">
            Upload failed
            <form action="{% url "blog:add_blog" %}" method="post">
                {% csrf_token %}
                {{form.title.label_tag}}{{form.title}}
                {{form.text.label_tag}}{{form.text}}
                <br>
                <input type="submit" id="submit" name="submit" value="Submit" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    {%  endif %}
</div>
{% endblock %}
