{%  extends "base_page.html" %}
{% load staticfiles %}

{% block content_wrapper %}
<div class="container">
    {% if need_login %}
        {% include "login.html" %}
    {% else %}
    {% for blog in blogs %}
            <div>
                {% if blog %}
                    <div class="span5 well record-block">
                        <div class="row-fluid">
                            <table>
                                <tr>
                                    <td>
                                        {{blog.title}} {{ blog.date }}
                                    </td>
                                    <td>
                                        {{ blog.text }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                    </div>
                {% endif %}
            </div>
    {% endfor %}
    {%  endif %}
</div>
{% endblock %}
