{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DIY VINYL AGGREGATION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <style>
    .pagination a {background-color: black !important;
                   color: darkgray;
                   border-color: darkgray;}

    .pagination-numbers {width:20px;}

    .well {padding:0px;
           height:125px;
           background-color: black;
           border-color: darkgray;}

    .record-image {max-width: 150px;
                  max-height: 150px;
                  vertical-align: middle;
                  margin-left: 5px;
                  width:100px;
                  height:100px;}

    .record-entry-text {float: right;
                        margin-left: 2%;
                        margin-right: -2%;
                        color: darkgray;}
  </style>
  </head>

  <body style="background-color:black">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav">
              <li><a class="brand" href="{% url "index" %}">Main</a></li>
              <li><a class="brand" href="{% url "recordlist:distros" %}">Distros</a></li>
              <li><a class="brand" href="{% url "recordlist:distros" %}">Latest</a></li>
          </ul>
          <div class="nav-collapse collapse">



          </div><!--/.nav-collapse -->
          <div class="search-panel" style="position:absolute;right:5px;">
          <form method="get" action="{% url "recordlist:search" %}" class="form-search">
            <input type="text" name="searchvalue" class="input-medium search-query" style="top:3px;position:relative;">
            <button type="submit" class="btn">Search</button>
          </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            // Position text and image in each record block
            $(".record-block").each(function() {
                var blockHeight = $(this).css("height");

                var textHeight = $(this).find(".record-entry-text").css("height");
                var imageHeight = $(this).find(".record-image").css("height");

                var textOffset = parseInt(blockHeight) - parseInt(textHeight);
                var imageOffset = parseInt(blockHeight) - parseInt(imageHeight);
                $(this).find(".record-entry-text").css("margin-top", textOffset/2);
                $(this).find(".record-image").css("margin-top", imageOffset/2);
            });

            var truncatePagination = function(classname){
                // Truncate long pagination bars
                var pageNums = $(classname).find("li");
                var regex = /page=[a-z]*([0-9]+)/;
                var current = regex.exec(document.URL);

                if (null == current){
                    current = parseInt(1);
                }
                else{
                    current = parseInt(current[1]);
                    if (/prev/.exec(document.URL)){
                        current--;
                    }
                    else if (/next/.exec(document.URL)){
                        current++;
                    }
                }

                $(pageNums).each(function(){
                    var currentIndex = $(this).find("a").html();
                    if (currentIndex == current){
                        $(this).find("a").attr("style", "background-color:darkred !important");
                    }
                });

                if (pageNums.length > 16){
                    pageNums.splice(0,1);
                    pageNums.splice(pageNums.length-1, 1);
                    var endBuffer = 3;

                    if (pageNums.length % 2 == 1){
                        $(pageNums[pageNums.length - endBuffer]).remove();
                        pageNums.splice(pageNums.length - endBuffer, 1);
                    }

                    var pos = "";
                    if (current < 10){
                        pos = "left";
                    }
                    else if (current > pageNums.length - 10){
                        pos = "right";
                    }
                    else{
                        pos = "center";
                    }

                    if (pos == "left"){
                        while (pageNums.length > 16){
                            var index1 = pageNums.length - endBuffer;
                            $(pageNums[index1]).remove();
                            pageNums.splice(index1, 1);
                        }
                    }
                    else if (pos == "right"){
                        while (pageNums.length > 16){
                            $(pageNums[endBuffer - 1]).remove();
                            pageNums.splice(1, 1);
                        }
                    }
                    else if (pos == "center") {
                        var pivot = current-1;
                        console.log("in here at least");
                        var offset = 0;
                        for (var i = pageNums.length - 3; i > pivot + 6; i--){
                            console.log("removing " + $(pageNums[i]).find("a").html() + " at index " + i);
                            $(pageNums[i]).remove();
                            pageNums.splice(i, 1);
                            offset++;
                        }
                        for (var j = pivot - 6 + 1; j > 2; j--){
                            console.log("removing " + $(pageNums[j]).find("a").html() + " at index " + j);
                            $(pageNums[j]).remove();
                            pageNums.splice(j, 1);
                        }
                    }

                    if (pos == "center"){
                        var index = pageNums.length - endBuffer;
                        $(pageNums[index]).html("<a href=\"\" class=\"pagination-numbers\">...</a>");
                        $(pageNums[endBuffer - 1]).html("<a href=\"\" class=\"pagination-numbers\">...</a>");
                    }
                    else if (pos == "left"){
                        var index = pageNums.length - endBuffer;
                        $(pageNums[index]).html("<a href=\"\" class=\"pagination-numbers\">...</a>");
                    }
                    else if (pos == "right"){
                        $(pageNums[endBuffer - 1]).html("<a href=\"\" class=\"pagination-numbers\">...</a>");
                    }
                }
            };

            truncatePagination(".pagination-top");
            truncatePagination(".pagination-bottom");
        });
    </script>
    {% block content_wrapper %}
    {% endblock %}
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}></script>


  </body>
</html>


