{% block content_wrapper %}
<div class="container">
    <div class="span12 text-center">
        {%if form.errors %}
            <p> Invalid username/password combination, please try again </p>
        {% endif %}

        <form action="{% url "login" %}" method="post">
        {% csrf_token %}
            {{form.username.label_tag}}{{form.username}}
            {{form.password.label_tag}}{{form.password}}
            <br>
            <input type="submit" id="submit" name="submit" value="Sign in" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}
