{% extends "base_page.html" %}
{% load static %}
<style>
h1 { border: 1px solid #888; margin-left: 50px; width: 200px; }
#main_container{
    text-align: center;
}
</style>
{% block content_wrapper %}
<div class="container" id="main_container">

    <img src="{% static "img/templogo.jpg"  %}" alt="" style="display:block;margin-left: auto;margin-right: auto;">

    <ul class="thumbnails">
        <li class="span5">
            <a href="{% url "recordlist:list_all" %}">
            <div class="thumbnail">
                <img src="{% static "img/lotsofrecords.jpg"  %}" alt="">
                <h3 class="text-center" style="color:#ffffff">View All</h3>
                <p class="text-center" style="color:white">Sift through all records from all distros</p>
            </div>
            </a>
        </li>
        <li class="span2"></li>
        <li class="span5">
            <a href="{% url "recordlist:distros" %}">
            <div class="thumbnail">
                <img src="{% static "img/lotsofdistros.jpg"  %}" alt="">
                <h3 class="text-center" style="color:white">View By Distro</h3>
                <p class="text-center" style="color:white">Only view vinyl from one distro</p>
            </div>
            </a>
        </li>
    </ul>


</div> <!-- /container -->
{% endblock %}

