{% extends "base_page.html" %}

    {% block content_wrapper %}
    <div class="container">
        <div class="row-fluid">
        <div class="span12">

       {% if record_list %}
	        <ul>
	        <table>
	        {% for record in record_list %}
	        <tr>
		        <td>
				    <img src="{{record.0.image}}" style="width:200px;">
		        </td>
		        <td>
			    	<a href="{{ record.0.link }}">{{ record.0.band }} - {{ record.0.album }} - {{record.0.vinyl}}" - ${{record.0.price}}0 from {{record.0.sitename}}</a>
                    <br>
		        </td>
                <td>
				    <img src="{{record.1.image}}" style="width:200px;">
		        </td>
		        <td>
			    	<a href="{{ record.1.link }}">{{ record.1.band }} - {{ record.1.album }} - {{record.1.vinyl}}" - ${{record.1.price}}0 from {{record.1.sitename}}</a>
                    <br>
		        </td>
	        </tr>
	        {% endfor %}
	        </table>
	        </ul>
            {% else %}
	        <p>No records are available. </p>
            {% endif %}
        </div>


        </div>

    </div> <!-- /container -->
    {% endblock %}

  </body>
</html>


