{% extends "base_page.html" %}

    {% block content_wrapper %}
    <div class="container">
        <div class="row-fluid">
        <div class="span12">
        <h2>Results for: "{{ search_term_short }}"</h2>
       {% if record_group %}
            <div class="pagination pagination-small pagination-centered">
            <ul>
                <li><a href="?page=prev{{ index }}{% if search_term %}&{{search_term}}{% endif %}">Prev</a></li>
                {% for count in record_count %}
                <li><a href="?page={{ count }}{% if search_term %}&{{search_term}}{% endif %}">{{ count }}</a></li>
                {% endfor %}
                <li><a href="?page=next{{ index }}{% if search_term %}&{{search_term}}{% endif %}">Next</a></li>
            </ul>
            </div>
	        <ul>

	        <table>
	        {% for record in record_group %}
            <tr>
                {% if record.0 %}
		        <td>
                    <img src="{{record.0.image}}" style="width:200px;">
                </td>
		        <td>
                    <a href="{{ record.0.link }}">{{ record.0.band }} - {{ record.0.album }} - {{record.0.vinyl}}" - ${{record.0.price}}0 from {{record.0.sitename}}</a>
                    <br>
		        </td>
                {% endif %}
                {% if record.1 %}
                <td>
				    <img src="{{record.1.image}}" style="width:200px;">
		        </td>
		        <td>
			    	<a href="{{ record.1.link }}">{{ record.1.band }} - {{ record.1.album }} - {{record.1.vinyl}}" - ${{record.1.price}}0 from {{record.1.sitename}}</a>
                    <br>
		        </td>
                {% endif %}
	        </tr>
            {% endfor %}
	        </table>

	        </ul>

            <div class="pagination pagination-small pagination-centered">
            <ul>
                <li><a href="?page=prev{{ index }}{% if search_term %}&{{search_term}}{% endif %}">Prev</a></li>
                {% for count in record_count %}
                <li><a href="?page={{ count }}{% if search_term %}&{{search_term}}{% endif %}">{{ count }}</a></li>
                {% endfor %}
                <li><a href="?page=next{{ index }}{% if search_term %}&{{search_term}}{% endif %}">Next</a></li>
            </ul>
            </div>
	        <ul>

            {% else %}
	            <p>No records matched your search.</p>
            {% endif %}
        </div>


        </div>

    </div> <!-- /container -->
    {% endblock %}

  </body>
</html>